[Unit]
Description=Hello World application
After=multi-user.target

[Service]
Type=idle
ExecStart=python3 /home/{{ansible_user_id}}/python/hlwd/main.py
Restart=always

[Install]
WantedBy=multi-user.target
