[Unit]
Description=Telegram bot
After=multi-user.target

[Service]
User={{ansible_user_id}}
Group={{golang_group}}

Type=idle
WorkingDirectory=/home/{{ansible_user_id}}/go/telegram-bot/bin
ExecStart=/home/{{ansible_user_id}}/go/telegram-bot/bin/telegram-bot
Restart=always

[Install]
WantedBy=multi-user.target
